<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="Man" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8980/" binding="basicHttpBinding"
                bindingConfiguration="Man" contract="ChatService.IChat" name="Man" />
            <endpoint address="http://localhost:8981/" binding="basicHttpBinding"
                bindingConfiguration="Man" contract="ChatService.IChat" name="Woman" />
            <endpoint address="http://localhost:8982/" binding="basicHttpBinding"
                bindingConfiguration="Man" contract="ChatService.IChat" name="Unisex" />
        </client>
    </system.serviceModel>
</configuration>